[Unit]
Description=Gunicorn instance for a simple hello world app
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ec2-user/ambientes-operacionais-bd-trabalho
ExecStart=/home/ec2-user/ambientes-operacionais-bd-trabalho/venv/bin/gunicorn -b localhost:8000 app:app
Restart=always
[Install]
WantedBy=multi-user.target
